:host .searchiconPosition {
position: absolute;
top: 0px;
/*right: 0;*/
}
.slds-p-around_small, .slds-p-around--small{
  padding: 0px .75rem .75rem .75rem;
}
.slds-p-around_small{
  padding: 0px!important;
}
 /*to show the image Up*/
 .SelectedBorderOrgType .markIconUP {
    display: block;
  }
  /*to hide the image Up*/
  .NonSelectedBorderOrgType .markIconUp {
    display: none;
  }
  /*to show the image Up*/
 .SelectedBorderOrgTypeDwn .markIconDown {
    display: block;
  }
  /*to hide the image Up*/
  .NonSelectedBorderOrgTypeDwn .markIconDown {
    display: none; 
  }
  .selectchk{
    float: left;
    padding-top:0px; 
 }